body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
  border-bottom: solid black 2px;
}

th, td {
  min-width: 150px;
}

nav {
  margin: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ddd;
}
